@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Color */
:root {
    --blue: #00b7f9;
    --blue-light: #d8f5ff;
    --blue-dark: #2179c6;
    --purple: #7e5bef;
    --pink: #ff49db;
    --orange: #ff7849;
    --green: #13ce66;
    --yellow: #ffc82c;
    --gray-dark: #273444;
    --gray: #8492a6;
    --gray-light: #d3dce6;
    --white: #ffffff;
    --black: #18191a;
}

* {
    font-family: "Poppins", sans-serif !important;
}

#sidebarnav .sidebar-link:hover {
    background: var(--blue-light) !important;
    color: var(--blue) !important;
}
#sidebarnav .sidebar-link:focus {
    background: var(--blue-light) !important;
    color: var(--blue) !important;
}
#sidebarnav .sidebar-link:active {
    background: var(--blue-light) !important;
    color: var(--blue) !important;
}

#sidebarnav a.sidebar-link.active {
    background: var(--blue) !important;
    color: var(--white) !important;
}
#sidebarnav .sidebar-item.selected a.sidebar-link.active {
    background: var(--blue) !important;
    color: var(--white) !important;
}
#sidebarnav .sidebar-item.selected a {
    background: transparent;
    color: var(--black);
}

/* Button Primary */
.btn.btn-primary {
    background: var(--blue) !important;
    color: var(--white) !important;
    border: 1px solid var(--blue);
}

/* Button Primary Hover */
.btn.btn-primary:hover {
    background: var(--blue-dark) !important;
    color: var(--white) !important;
    border: 1px solid var(--blue-dark);
}

.breadcrumb-item a {
    color: var(--gray-dark) !important;
}

.btn.btn-secondary {
    background: var(--gray-light) !important;
    color: var(--gray-dark) !important;
    border: none;
}

.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
    background: var(--gray-dark) !important;
    color: var(--white) !important;
    border: none;
}

.bg-motif-2 {
    background-image: url("../images/backgrounds/2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-motif-1 {
    background-image: url("../images/backgrounds/1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar {
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px 0px rgba(0, 191, 255, 0.5);
    background-color: white;
    top: 5px;
    margin: 0 0 0 31.5px;
}
aside.left-sidebar {
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px 0px rgba(0, 191, 255, 0.5);
    background-color: white;
    top: 5px;
    margin: 5px 24px;
    max-height: 97vh;
    overflow: hidden;
}

nav.sidebar-nav.scroll-sidebar {
    max-height: 97vh;
    padding-bottom: 150px;
}

.container-fluid {
    padding-top: 120px !important;
}

.card-primary-1 {
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px 0px rgba(0, 191, 255, 0.5);
    background-color: white;
}

/* @media (min-width: 1199px) {
    .header-pages {
        margin: 0 20px;
    }
} */

@media (max-width: 1199px) {
    #main-wrapper[data-layout="vertical"][data-sidebartype="full"]
        .left-sidebar,
    #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
        .left-sidebar {
        left: -300px;
    }

    nav.navbar {
        border-radius: 10px;
        border: 2px solid var(--blue);
        box-shadow: 4px 4px 0px rgba(0, 191, 255, 0.5);
        background-color: white;
        top: 5px;
        margin: 0 0px;
    }
}

.error-message {
    color: red;
    font-size: 0.7rem;
}

.form-control[error] {
    border-color: red;
}

button.swal2-confirm.swal2-styled {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border-radius: 50px;
    width: 200px;
}

