/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}

/* Font */
.charmonman-regular {
    font-family: "Charmonman", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.charmonman-bold {
    font-family: "Charmonman", cursive !important;
    font-weight: 700;
    font-style: normal;
}

/* Color */
:root {
    --blue: #00b7f9;
    --purple: #7e5bef;
    --pink: #ff49db;
    --orange: #ff7849;
    --green: #13ce66;
    --yellow: #ffc82c;
    --gray-dark: #273444;
    --gray: #8492a6;
    --gray-light: #d3dce6;
}

/* ===================================================================================== NAVBAR CSS */
nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s;
}

nav.navbar .container a.nav-link.active {
    color: #034680 !important;
    font-weight: 600;
}

/* Navbar Button */
.navbar-toggler i {
    width: 50px;
    font-size: 1.5rem;
}
button.navbar-toggler {
    border: none;
    outline: none;
}

button.navbar-toggler:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

nav.navbar .container img {
    filter: invert(0);
    transition: filter 0.3s ease;
}

nav.navbar:not(.navbar-transparent) .container img {
    filter: invert(1);
}

/* Link color when navbar is not transparent */
nav.navbar:not(.navbar-transparent) .container a {
    color: rgb(255, 255, 255) !important;
}
nav.navbar:not(.navbar-transparent) {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.237);
}

.navbar-brand {
    width: 140px;
    height: 50px;
    overflow: hidden;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 995px) {
    .navbar-brand {
        width: 90px;
        height: 50px;
        overflow: hidden;
    }

    nav.navbar-transparent {
        background-color: var(--blue);
    }

    nav.bg-primary {
        background-color: var(--blue);
    }

    nav.navbar .container img {
        filter: invert(1);
    }

    nav.navbar .container i,
    nav.navbar .container a {
        color: white !important;
    }
}

@media (min-width: 995px) {
    .navbar-transparent {
        background-color: rgba(0, 0, 0, 0);
    }

    .collapse.navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
    }
}

/* =============================================================================== BACKGROUND CSS */
.bg-motif-2 {
    background-image: url("../images/backgrounds/2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-motif-1 {
    background-image: url("../images/backgrounds/1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ============================================================================== CARD PRODUCT */
.card-product {
    position: relative;
    width: 100%;
    height: 240px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    overflow: hidden;
}

.card-product .card-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.card-product .card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-product .card-label {
    position: absolute;
    width: 100%;
    height: 30%;

    bottom: 0px;
    left: 0px;

    padding: 1rem;
    border-radius: 8px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: end;

    background-image: linear-gradient(to top, var(--blue), rgba(0, 0, 0, 0));
    background-position: bottom;
    background-repeat: no-repeat;
}

.card-product:hover .card-img img {
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media (max-width: 768px) {
    div.card-product div.card-label {
        font-size: 0.7rem;
    }
}

/* =========================================================================== CAROUSEL */
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-carousel {
    gap: 1rem;
}

.card-carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero-carousel .img-carousel {
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.hero-carousel .img-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-carousel .img-carousel {
        height: 150px;
    }
}

/* =================================================================================PRODUCT SEARCH */
.product-search {
    padding: 3rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-search form,
.product-search div {
    width: 100%;
    max-width: 350px;
}

.product-search form input,
.product-search form button {
    border-radius: 30px;
}

@media (max-width: 768px) {
    .product-search {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem 0 0 0;
    }

    .product-search .title-section {
        min-width: 100%;
        margin-top: 20px;
    }
}

/* =================================================================================== CONTACT US */

/* Contact Us Media */
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    color: white !important;
    font-size: 1rem;
}

.contact-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact-us-content a {
    text-decoration: none;
}

.contact-us-content i {
    font-size: 1.5rem;
}

.contact-us-content .contact-us-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Form */
.card-contact {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    padding: 1rem;
    background-color: white;
}

.card-contact button {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: 1px solid var(--blue);
    color: var(--blue);
    width: 100%;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.277);
    transition: all 0.3s;
    background-color: white;
}

.card-contact button:hover {
    background-color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    color: white !important;
    transform: translateY(3px);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.277);
}

.card-contact button:active {
    background-color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    color: white !important;
    transform: translateY(2px);
    box-shadow: 5px 2px 0px rgba(0, 0, 0, 0.277);
}

@media (max-width: 768px) {
    .contact-us {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        padding: 3rem 0;
        color: white !important;
        font-size: 1rem;
    }
}

/* contact us media social */
.contact-us .media-social {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
}
.contact-us .media-social img {
    width: 3rem;
}

/* ========================================================================================= ABOUT US */
.about-us-img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.about-us-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.about-us-content {
    padding: 20px 0;
}

/* ==================================================================================================== CATEGORY */

.card-category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
    color: white !important;
    font-size: 1rem;
}

.card-category-content .category-item {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white !important;
    background-color: var(--blue);
    font-size: 1rem;
}

/* =================================================================================== Footer */
@media (max-width: 800px) {
    footer {
        font-size: 0.6rem;
    }
}
/* =================================================================================== Login Form */
/* Login Form */
.login-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

#login-section {
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px 0px rgba(0, 191, 255, 0.5);
    background-color: white;
    margin: 10px;
}

/* Media Queries for Responsive Design */
