$blue: #00b7f9;
$purple: #7e5bef;
$pink: #ff49db;
$orange: #ff7849;
$green: #13ce66;
$yellow: #ffc82c;
$gray-dark: #273444;
$gray: #8492a6;
$gray-light: #d3dce6;

$theme-colors: (
    "primary": $blue,
    "secondary": $gray,
    "success": $green,
    "info": $purple,
    "warning": $yellow,
    "danger": $pink,
    "light": $gray-light,
    "dark": $gray-dark,
);

// Font Default SM
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px
$font-size-5xl: 3rem; // 48px

$font-size-root: 0.875rem; // 12px
$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

@import "../../../node_modules/bootstrap/scss/bootstrap";
